<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myflutterapp">

    <!-- الأذونات الأساسية المطلوبة لتطبيق Flutter -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="MyFlutterApp"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="36">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize|locale|layoutDirection"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- تحديد توافق Flutter مع Android -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

</manifest>